/*Barvy:
Pozadi stranky - #FAFAFA
Černá - #000000
Šedá - #8B8B8B
Bíla - #FFFFFF
Primární modra - #407BFF
#407BFF1F
*/

html {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
}
.content {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding: 20px;
}
.hero img {
  width: 350px;
}
.text h1 {
  font-size: 28px;
  margin-bottom: 30px;
  margin-top: 40px;
}
.text h1::after {
  content: '';
  display: block;
  width: 60px;
  border-bottom: 2px solid #407bff;
  margin: 10px auto 0 auto;
}
.text p {
  font-size: 16px;
  color: #8b8b8b;
  margin: 0 0 30px 0;
}
.btn {
  color: #fff;
  font-size: 14px;
  padding: 11px 30px;
  border-radius: 20px;
  border: none;
  display: block;
  margin: auto;
  cursor: pointer;
}
.btn1 {
  background-color: #407bff;
}
.btn2 {
  background-color: #8b8b8b;
  margin-top: 10px;
}
.container-agency h2,
.container-onsite h2 {
  font-size: 16px;
  margin: 60px 0 0 0;
}
.container-agency p,
.container-onsite p {
  font-size: 16px;
  color: #8b8b8b;
  margin: 15px 0 30px 0;
}
.services-agency .services,
.services-onsite .services {
  display: flex;
  align-items: center;
}
.services {
  background-color: #fff;
  margin: 0 auto 15px auto;
  border-radius: 10px;
  box-shadow: 0px 4px 6px #407bff1f;
  padding: 20px;
  width: 100%;
}
.services img {
  width: 40px;
  height: 45px;
}
.services p {
  font-size: 13px;
  padding-left: 29px;
  margin: 0;
}

@media screen and (min-width: 640px) {
  .content {
    max-width: 100%;
  }
  .hero img {
    width: 400px;
  }
  .text h1 {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .btn {
    display: inline-block;
  }
  .btn2 {
    margin: 0 0 0 20px;
  }
  .container-agency h2,
  .container-onsite h2 {
    margin: 80px 0 0 0;
  }
  .container-agency p,
  .container-onsite p {
    margin: 17px 0 40px 0;
  }
  .container-agency p,
  .container-onsite p,
  .text p {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
  }
  .services-agency,
  .services-onsite {
    display: flex;
  }
  .services-agency .services,
  .services-onsite .services {
    flex-direction: column;
  }
  .services {
    margin-bottom: 0;
  }
  .services1,
  .services2 {
    margin-right: 20px;
  }
  .services p {
    padding: 20px 0 0 0;
    margin: 0;
    width: 100%;
  }
}

@media screen and (min-width: 1100px) {
  .content {
    padding: 80px;
  }
  .hero {
    display: flex;
  }
  .hero img {
    width: 100%;
    order: 2;
    margin-left: 95px;
  }
  .text {
    text-align: left;
  }
  .text h1::after {
    margin: 10px 0 0 0;
  }
  .text p {
    width: 100%;
  }
  .container-agency,
  .container-onsite {
    display: flex;
    margin-top: 80px;
  }
  .container-agency h2,
  .container-agency p,
  .container-onsite h2,
  .container-onsite p {
    width: 100%;
    text-align: left;
  }
  .container-agency h2,
  .container-agency p {
    padding: 0 0 0 60px;
  }
  .container-onsite p {
    padding: 0 60px 0 0;
  }
  .container-agency h2,
  .container-onsite h2 {
    margin: 40px 0 17px 0;
  }
  .services-agency {
    order: -1;
  }
  .services p {
    margin: 20px 0 0 0;
    padding: 0;
    text-align: center;
  }
}
