html {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}

/*Barvy:
Pozadi stranky - #FAFAFA
Černá - #000000
Šedá - #8B8B8B
Bíla - #FFFFFF
#407BFF1F
Primární modra - #407BFF

*/
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
}
.content {
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  margin: 0;
  text-align: center;
  padding: 20px;
}
.hero {
  /* background-image: url(images/happy-traveler.svg);*/
  background-repeat: no-repeat;
  /*background-position: center;*/
  /*background-size: cover;*/
  /*width: 350px;*/
}
.hero img {
  width: 350px;
}

.text h1 {
  font-size: 28px;
}

.text p {
  font-size: 16px;
  color: #8b8b8b;
}
/* .hero h1 {
  text-align: center;
}
.hero p {
  text-align: center;
} */
.btn {
  color: #fff;
  font-size: 14px;
  padding: 11px 30px;
  border-radius: 20px;
  border: none;
  display: block;
  margin: auto;
}
.btn1 {
  background-color: #407bff;
}
.btn2 {
  background-color: #8b8b8b;
  margin-top: 10px;
}
.services-agency .services {
  display: flex;
}

.services-onsite .services {
  display: flex;
}
.container-agency h2,
.container-onsite h2 {
  font-size: 16px;
}
.container-agency p,
.container-onsite p {
  font-size: 16px;
  color: #8b8b8b;
}
.services {
  background-color: #fff;
  margin-bottom: 1px;
  border-radius: 10px;
  width: 100%;
  margin: 20px;
}
.services img {
  width: 40px;
  height: 45px;
  margin-left: 20px;
  margin-right: 29px;
}
.services p {
  text-align: center;
}

@media screen and (min-width: 640px) {
  .content {
    max-width: 100%;
    max-width: 1100px;
  }
  .btn {
    display: inline-block;
  }
  .services-agency {
    display: flex;
  }
  .services-onsite {
    display: flex;
  }
  .services-agency .services {
    flex-direction: column;
    align-items: center;
  }
  .services-onsite .services {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1100px) {
  .content {
    padding: 0 80px;
  }
  .hero {
    display: flex;
  }
  .hero img {
    order: 2;
    margin: 80px 0 0 95px;
  }
  .text {
    text-align: left;
  }
  .text h1 {
    margin: 130px 0 40px 0;
  }
  .text p {
    margin: 0 0 30px 0;
  }

  .container-agency {
    display: flex;
  }
  .services-agency {
    order: -1;
  }
  .container-onsite {
    display: flex;
  }
}
